[submodule "lib/rain.math.float"]
	path = lib/rain.math.float
	url = https://github.com/rainlanguage/rain.math.float
[submodule "lib/rain.wasm"]
	path = lib/rain.wasm
	url = https://github.com/rainlanguage/rain.wasm
